In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
population_data_load = "population_data2.csv"

# Read School and Student Data File and store into Pandas DataFrames
population_data = pd.read_csv(population_data_load)


population_data.head(10)

,Label (Grouping),United States!!Total!!Estimate,United States!!Total!!Margin of Error,United States!!Percent!!Estimate,United States!!Percent!!Margin of Error,United States!!Male!!Estimate,United States!!Male!!Margin of Error,United States!!Percent Male!!Estimate,United States!!Percent Male!!Margin of Error,United States!!Female!!Estimate,...,Pennsylvania!!Percent!!Estimate,Pennsylvania!!Percent!!Margin of Error,Pennsylvania!!Male!!Estimate,Pennsylvania!!Male!!Margin of Error,Pennsylvania!!Percent Male!!Estimate,Pennsylvania!!Percent Male!!Margin of Error,Pennsylvania!!Female!!Estimate,Pennsylvania!!Female!!Margin of Error,Pennsylvania!!Percent Female!!Estimate,Pennsylvania!!Percent Female!!Margin of Error
0,Total population,"333,287,562",*****,(X),(X),"165,228,214","±33,974",(X),(X),"168,059,348",...,(X),(X),"6,399,830","±4,711",(X),(X),"6,572,178","±4,711",(X),(X)
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"18,358,199","±18,313",5.5%,±0.1,"9,394,890","±17,175",5.7%,±0.1,"8,963,309",...,5.2%,±0.1,"340,925","±3,027",5.3%,±0.1,"327,809","±3,214",5.0%,±0.1
3,5 to 9 years,"19,770,314","±74,288",5.9%,±0.1,"10,110,917","±44,770",6.1%,±0.1,"9,659,397",...,5.5%,±0.1,"367,379","±6,798",5.7%,±0.1,"351,943","±8,136",5.4%,±0.1
4,10 to 14 years,"21,220,214","±73,259",6.4%,±0.1,"10,892,415","±44,625",6.6%,±0.1,"10,327,799",...,5.9%,±0.1,"390,736","±7,207",6.1%,±0.1,"370,941","±8,123",5.6%,±0.1
5,15 to 19 years,"21,785,658","±36,858",6.5%,±0.1,"11,167,522","±29,157",6.8%,±0.1,"10,618,136",...,6.5%,±0.1,"424,350","±3,800",6.6%,±0.1,"417,001","±4,641",6.3%,±0.1
6,20 to 24 years,"22,446,040","±36,578",6.7%,±0.1,"11,488,577","±25,511",7.0%,±0.1,"10,957,463",...,6.4%,±0.1,"420,566","±4,229",6.6%,±0.1,"408,614","±4,052",6.2%,±0.1
7,25 to 29 years,"22,007,628","±35,988",6.6%,±0.1,"11,245,260","±22,926",6.8%,±0.1,"10,762,368",...,6.2%,±0.1,"412,239","±3,247",6.4%,±0.1,"391,680","±3,437",6.0%,±0.1
8,30 to 34 years,"23,225,636","±27,473",7.0%,±0.1,"11,785,090","±18,217",7.1%,±0.1,"11,440,546",...,6.7%,±0.1,"444,251","±2,993",6.9%,±0.1,"429,151","±2,621",6.5%,±0.1
9,35 to 39 years,"22,335,859","±71,580",6.7%,±0.1,"11,322,522","±46,238",6.9%,±0.1,"11,013,337",...,6.4%,±0.1,"418,082","±7,156",6.5%,±0.1,"412,846","±9,270",6.3%,±0.1

In [3]:
# How many rows & columns

# row_count = len(population_data)

# row_count

population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 73 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Label (Grouping)                                       42 non-null     object
 1   United States!!Total!!Estimate                         38 non-null     object
 2   United States!!Total!!Margin of Error                  38 non-null     object
 3   United States!!Percent!!Estimate                       38 non-null     object
 4   United States!!Percent!!Margin of Error                38 non-null     object
 5   United States!!Male!!Estimate                          38 non-null     object
 6   United States!!Male!!Margin of Error                   38 non-null     object
 7   United States!!Percent Male!!Estimate                  38 non-null     object
 8   United States!!Percent Male!!Margin of Error           38 non-null     object
 9   United States!!Female!!Estimate                        38 non-null     object
 10  United States!!Female!!Margin of Error                 38 non-null     object
 11  United States!!Percent Female!!Estimate                38 non-null     object
 12  United States!!Percent Female!!Margin of Error         38 non-null     object
 13  California!!Total!!Estimate                            38 non-null     object
 14  California!!Total!!Margin of Error                     38 non-null     object
 15  California!!Percent!!Estimate                          38 non-null     object
 16  California!!Percent!!Margin of Error                   38 non-null     object
 17  California!!Male!!Estimate                             38 non-null     object
 18  California!!Male!!Margin of Error                      38 non-null     object
 19  California!!Percent Male!!Estimate                     38 non-null     object
 20  California!!Percent Male!!Margin of Error              38 non-null     object
 21  California!!Female!!Estimate                           38 non-null     object
 22  California!!Female!!Margin of Error                    38 non-null     object
 23  California!!Percent Female!!Estimate                   38 non-null     object
 24  California!!Percent Female!!Margin of Error            38 non-null     object
 25  District of Columbia!!Total!!Estimate                  38 non-null     object
 26  District of Columbia!!Total!!Margin of Error           38 non-null     object
 27  District of Columbia!!Percent!!Estimate                38 non-null     object
 28  District of Columbia!!Percent!!Margin of Error         38 non-null     object
 29  District of Columbia!!Male!!Estimate                   38 non-null     object
 30  District of Columbia!!Male!!Margin of Error            38 non-null     object
 31  District of Columbia!!Percent Male!!Estimate           38 non-null     object
 32  District of Columbia!!Percent Male!!Margin of Error    38 non-null     object
 33  District of Columbia!!Female!!Estimate                 38 non-null     object
 34  District of Columbia!!Female!!Margin of Error          38 non-null     object
 35  District of Columbia!!Percent Female!!Estimate         38 non-null     object
 36  District of Columbia!!Percent Female!!Margin of Error  38 non-null     object
 37  Georgia!!Total!!Estimate                               38 non-null     object
 38  Georgia!!Total!!Margin of Error                        38 non-null     object
 39  Georgia!!Percent!!Estimate                             38 non-null     object
 40  Georgia!!Percent!!Margin of Error                      38 non-null     object
 41  Georgia!!Male!!Estimate                                38 non-null     object
 42  Georgia!!Male!!Margin of Error                         38 non-null     object
 43  Georgia!!Percent Male!!Estimate                        38 non-null     object
 44  Georgia!!Percent Male!!Margin of Error                 38 non-null     object
 45  Georgia!!Female!!Estimate                              38 non-null     object
 46  Georgia!!Female!!Margin of Error                       38 non-null     object
 47  Georgia!!Percent Female!!Estimate                      38 non-null     object
 48  Georgia!!Percent Female!!Margin of Error               38 non-null     object
 49  New York!!Total!!Estimate                              38 non-null     object
 50  New York!!Total!!Margin of Error                       38 non-null     object
 51  New York!!Percent!!Estimate                            38 non-null     object
 52  New York!!Percent!!Margin of Error                     38 non-null     object
 53  New York!!Male!!Estimate                               38 non-null     object
 54  New York!!Male!!Margin of Error                        38 non-null     object
 55  New York!!Percent Male!!Estimate                       38 non-null     object
 56  New York!!Percent Male!!Margin of Error                38 non-null     object
 57  New York!!Female!!Estimate                             38 non-null     object
 58  New York!!Female!!Margin of Error                      38 non-null     object
 59  New York!!Percent Female!!Estimate                     38 non-null     object
 60  New York!!Percent Female!!Margin of Error              38 non-null     object
 61  Pennsylvania!!Total!!Estimate                          38 non-null     object
 62  Pennsylvania!!Total!!Margin of Error                   38 non-null     object
 63  Pennsylvania!!Percent!!Estimate                        38 non-null     object
 64  Pennsylvania!!Percent!!Margin of Error                 38 non-null     object
 65  Pennsylvania!!Male!!Estimate                           38 non-null     object
 66  Pennsylvania!!Male!!Margin of Error                    38 non-null     object
 67  Pennsylvania!!Percent Male!!Estimate                   38 non-null     object
 68  Pennsylvania!!Percent Male!!Margin of Error            38 non-null     object
 69  Pennsylvania!!Female!!Estimate                         38 non-null     object
 70  Pennsylvania!!Female!!Margin of Error                  38 non-null     object
 71  Pennsylvania!!Percent Female!!Estimate                 38 non-null     object
 72  Pennsylvania!!Percent Female!!Margin of Error          38 non-null     object
dtypes: object(73)
memory usage: 24.1+ KB

In [5]:
population_data.size

3066

In [7]:
population_data.shape

(42, 73)

In [9]:
removemargin = population_data.drop(population_data.filter(regex='Margin').columns, axis=1)
removemargin.head()

,Label (Grouping),United States!!Total!!Estimate,United States!!Percent!!Estimate,United States!!Male!!Estimate,United States!!Percent Male!!Estimate,United States!!Female!!Estimate,United States!!Percent Female!!Estimate,California!!Total!!Estimate,California!!Percent!!Estimate,California!!Male!!Estimate,...,New York!!Male!!Estimate,New York!!Percent Male!!Estimate,New York!!Female!!Estimate,New York!!Percent Female!!Estimate,Pennsylvania!!Total!!Estimate,Pennsylvania!!Percent!!Estimate,Pennsylvania!!Male!!Estimate,Pennsylvania!!Percent Male!!Estimate,Pennsylvania!!Female!!Estimate,Pennsylvania!!Percent Female!!Estimate
0,Total population,"333,287,562",(X),"165,228,214",(X),"168,059,348",(X),"39,029,342",(X),"19,536,425",...,"9,628,899",(X),"10,048,252",(X),"12,972,008",(X),"6,399,830",(X),"6,572,178",(X)
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"18,358,199",5.5%,"9,394,890",5.7%,"8,963,309",5.3%,"2,118,386",5.4%,"1,081,904",...,"543,601",5.6%,"511,854",5.1%,"668,734",5.2%,"340,925",5.3%,"327,809",5.0%
3,5 to 9 years,"19,770,314",5.9%,"10,110,917",6.1%,"9,659,397",5.7%,"2,285,436",5.9%,"1,165,348",...,"545,792",5.7%,"524,241",5.2%,"719,322",5.5%,"367,379",5.7%,"351,943",5.4%
4,10 to 14 years,"21,220,214",6.4%,"10,892,415",6.6%,"10,327,799",6.1%,"2,550,172",6.5%,"1,313,295",...,"598,202",6.2%,"563,483",5.6%,"761,677",5.9%,"390,736",6.1%,"370,941",5.6%

In [11]:
removepercent = removemargin.drop(removemargin.filter(regex='Percent').columns, axis=1)
removepercent.head()

,Label (Grouping),United States!!Total!!Estimate,United States!!Male!!Estimate,United States!!Female!!Estimate,California!!Total!!Estimate,California!!Male!!Estimate,California!!Female!!Estimate,District of Columbia!!Total!!Estimate,District of Columbia!!Male!!Estimate,District of Columbia!!Female!!Estimate,Georgia!!Total!!Estimate,Georgia!!Male!!Estimate,Georgia!!Female!!Estimate,New York!!Total!!Estimate,New York!!Male!!Estimate,New York!!Female!!Estimate,Pennsylvania!!Total!!Estimate,Pennsylvania!!Male!!Estimate,Pennsylvania!!Female!!Estimate
0,Total population,"333,287,562","165,228,214","168,059,348","39,029,342","19,536,425","19,492,917","671,803","319,763","352,040","10,912,876","5,323,951","5,588,925","19,677,151","9,628,899","10,048,252","12,972,008","6,399,830","6,572,178"
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"18,358,199","9,394,890","8,963,309","2,118,386","1,081,904","1,036,482","39,035","20,038","18,997","621,126","319,188","301,938","1,055,455","543,601","511,854","668,734","340,925","327,809"
3,5 to 9 years,"19,770,314","10,110,917","9,659,397","2,285,436","1,165,348","1,120,088","37,268","19,567","17,701","683,215","349,200","334,015","1,070,033","545,792","524,241","719,322","367,379","351,943"
4,10 to 14 years,"21,220,214","10,892,415","10,327,799","2,550,172","1,313,295","1,236,877","31,558","15,307","16,251","741,043","377,740","363,303","1,161,685","598,202","563,483","761,677","390,736","370,941"

In [12]:
NewColumns = removepercent.rename(columns={'Label (Grouping)': 'Age Group', 'United States!!Total!!Estimate': 'Overall Total Est.','United States!!Male!!Estimate': 'Est. Males Total', 'United States!!Female!!Estimate': 'Est. Females Total',
                               
#California 
 'California!!Total!!Estimate': 'C.A. Total','California!!Male!!Estimate': 'C.A. Males Total', 'California!!Female!!Estimate': 'C.A. Females Total',
                               
#District of Columbia 
 'District of Columbia!!Total!!Estimate': 'D.C. Total.','District of Columbia!!Male!!Estimate': 'D.C. Males Total', 'District of Columbia!!Female!!Estimate': 'D.C. Females Total',
                               
#Georgia  
'Georgia!!Male!!Estimate': 'G.A. Males Total', 'Georgia!!Female!!Estimate': 'G.A. Females Total', 'Georgia!!Total!!Estimate': 'G.A. Total Est.',
                                
# New York                               
'New York!!Male!!Estimate': 'N.Y. Males Total', 'New York!!Female!!Estimate': 'N.Y. Females Total', 'New York!!Total!!Estimate': 'N.Y. Total Est.',

# Pennsylvania                       
'Pennsylvania!!Male!!Estimate': 'P.A. Males Total', 'Pennsylvania!!Female!!Estimate': 'P.A. Females Total', 'Pennsylvania!!Total!!Estimate': 'P.A. Total Est.',
})

NewColumns.head()

,Age Group,Overall Total Est.,Est. Males Total,Est. Females Total,C.A. Total,C.A. Males Total,C.A. Females Total,D.C. Total.,D.C. Males Total,D.C. Females Total,G.A. Total Est.,G.A. Males Total,G.A. Females Total,N.Y. Total Est.,N.Y. Males Total,N.Y. Females Total,P.A. Total Est.,P.A. Males Total,P.A. Females Total
0,Total population,"333,287,562","165,228,214","168,059,348","39,029,342","19,536,425","19,492,917","671,803","319,763","352,040","10,912,876","5,323,951","5,588,925","19,677,151","9,628,899","10,048,252","12,972,008","6,399,830","6,572,178"
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"18,358,199","9,394,890","8,963,309","2,118,386","1,081,904","1,036,482","39,035","20,038","18,997","621,126","319,188","301,938","1,055,455","543,601","511,854","668,734","340,925","327,809"
3,5 to 9 years,"19,770,314","10,110,917","9,659,397","2,285,436","1,165,348","1,120,088","37,268","19,567","17,701","683,215","349,200","334,015","1,070,033","545,792","524,241","719,322","367,379","351,943"
4,10 to 14 years,"21,220,214","10,892,415","10,327,799","2,550,172","1,313,295","1,236,877","31,558","15,307","16,251","741,043","377,740","363,303","1,161,685","598,202","563,483","761,677","390,736","370,941"

In [13]:
NewColumns.shape

(42, 19)

In [31]:
# Drop rows with NAN

NewColumns.dropna(inplace=True)

NewColumns.head

<bound method NDFrame.head of                                     Age Group Overall Total Est.  \
0                            Total population        333,287,562
2                               Under 5 years         18,358,199
3                                5 to 9 years         19,770,314
4                              10 to 14 years         21,220,214
5                              15 to 19 years         21,785,658
6                              20 to 24 years         22,446,040
7                              25 to 29 years         22,007,628
8                              30 to 34 years         23,225,636
9                              35 to 39 years         22,335,859
10                             40 to 44 years         21,711,785
11                             45 to 49 years         19,640,925
12                             50 to 54 years         20,835,521
13                             55 to 59 years         20,553,615
14                             60 to 64 years         21,573,853
15                             65 to 69 years         18,559,497
16                             70 to 74 years         15,338,575
17                             75 to 79 years         11,005,461
18                             80 to 84 years          6,758,839
19                          85 years and over          6,159,943
21                              5 to 14 years         40,990,528
22                             15 to 17 years         12,976,875
23                             Under 18 years         72,325,602
24                             18 to 24 years         31,254,823
25                             15 to 44 years        133,512,606
26                          16 years and over        269,555,318
27                          18 years and over        260,961,960
28                          21 years and over        247,659,649
29                          60 years and over         79,396,168
30                          62 years and over         70,685,247
31                          65 years and over         57,822,315
32                          75 years and over         23,924,243
34                         Median age (years)               39.0
35          Sex ratio (males per 100 females)               98.3
36                       Age dependency ratio               64.1
37                   Old-age dependency ratio               28.5
38                     Child dependency ratio               35.6
40                                        Sex                (X)
41                                        Age                (X)

   Est. Males Total Est. Females Total  C.A. Total C.A. Males Total  \
0       165,228,214        168,059,348  39,029,342       19,536,425
2         9,394,890          8,963,309   2,118,386        1,081,904
3        10,110,917          9,659,397   2,285,436        1,165,348
4        10,892,415         10,327,799   2,550,172        1,313,295
5        11,167,522         10,618,136   2,568,788        1,314,876
6        11,488,577         10,957,463   2,639,787        1,358,231
7        11,245,260         10,762,368   2,755,159        1,420,961
8        11,785,090         11,440,546   2,989,300        1,544,190
9        11,322,522         11,013,337   2,763,206        1,426,147
10       10,939,843         10,771,942   2,632,182        1,349,326
11        9,853,198          9,787,727   2,401,748        1,215,975
12       10,447,394         10,388,127   2,476,065        1,252,946
13       10,163,454         10,390,161   2,356,663        1,183,932
14       10,492,488         11,081,365   2,333,548        1,148,594
15        8,798,968          9,760,529   1,980,804          939,965
16        7,149,850          8,188,725   1,587,735          739,712
17        4,901,587          6,103,874   1,158,255          511,897
18        2,861,152          3,897,687     720,433          309,633
19        2,213,087          3,946,856     711,675          259,493
21       21,003,332         19,987,196   4,835,608        2,478,643
22        6,655,455          6,321,420   1,545,012          794,712
23       37,053,677         35,271,925   8,499,006        4,355,259
24       16,000,644         15,254,179   3,663,563        1,878,395
25       67,948,814         65,563,792  16,348,422        8,413,731
26      132,607,016        136,948,302  31,552,708       15,715,745
27      128,174,537        132,787,423  30,530,336       15,181,166
28      121,344,241        126,315,408  28,971,158       14,379,259
29       36,417,132         42,979,036   8,492,450        3,909,294
30       32,135,422         38,549,825   7,528,702        3,434,226
31       25,924,644         31,897,671   6,158,902        2,760,700
32        9,975,826         13,948,417   2,590,363        1,081,023
34             37.9               40.1        37.9             36.9
35              (X)                (X)       100.2              (X)
36              (X)                (X)        60.1              (X)
37              (X)                (X)        25.3              (X)
38              (X)                (X)        34.9              (X)
40              (X)                (X)         (X)              (X)
41              (X)                (X)         (X)              (X)

   C.A. Females Total D.C. Total. D.C. Males Total D.C. Females Total  \
0          19,492,917     671,803          319,763            352,040
2           1,036,482      39,035           20,038             18,997
3           1,120,088      37,268           19,567             17,701
4           1,236,877      31,558           15,307             16,251
5           1,253,912      36,668           16,901             19,767
6           1,281,556      48,043           21,713             26,330
7           1,334,198      70,104           30,920             39,184
8           1,445,110      75,149           36,549             38,600
9           1,337,059      62,643           32,098             30,545
10          1,282,856      48,578           22,988             25,590
11          1,185,773      36,427           18,116             18,311
12          1,223,119      35,134           18,106             17,028
13          1,172,731      30,859           15,036             15,823
14          1,184,954      32,983           16,224             16,759
15          1,040,839      29,685           13,314             16,371
16            848,023      20,415            8,697             11,718
17            646,358      16,221            6,494              9,727
18            410,800      11,625            5,131              6,494
19            452,182       9,408            2,564              6,844
21          2,356,965      68,826           34,874             33,952
22            750,300      16,383            8,130              8,253
23          4,143,747     124,244           63,042             61,202
24          1,785,168      68,328           30,484             37,844
25          7,934,691     341,185          161,169            180,016
26         15,836,963     557,547          262,369            295,178
27         15,349,170     547,559          256,721            290,838
28         14,591,899     519,804          243,930            275,874
29          4,583,156     120,337           52,424             67,913
30          4,094,476     106,696           46,047             60,649
31          3,398,202      87,354           36,200             51,154
32          1,509,340      37,254           14,189             23,065
34               38.9        34.9             34.8               34.9
35                (X)        90.8              (X)                (X)
36                (X)        46.0              (X)                (X)
37                (X)        19.0              (X)                (X)
38                (X)        27.0              (X)                (X)
40                (X)         (X)              (X)                (X)
41                (X)         (X)              (X)                (X)

   G.A. Total Est. G.A. Males Total G.A. Females Total N.Y. Total Est.  \
0       10,912,876        5,323,951          5,588,925      19,677,151
2          621,126          319,188            301,938       1,055,455
3          683,215          349,200            334,015       1,070,033
4          741,043          377,740            363,303       1,161,685
5          762,949          390,500            372,449       1,198,745
6          771,563          392,098            379,465       1,298,992
7          730,956          365,255            365,701       1,349,368
8          753,041          367,472            385,569       1,412,882
9          731,011          359,658            371,353       1,302,139
10         738,039          357,313            380,726       1,234,655
11         676,763          329,837            346,926       1,144,828
12         722,486          354,324            368,162       1,260,979
13         681,208          331,862            349,346       1,305,675
14         655,201          309,867            345,334       1,317,119
15         541,143          250,475            290,668       1,110,632
16         457,415          205,053            252,362         921,647
17         317,660          138,301            179,359         660,817
18         184,649           74,343            110,306         436,311
19         143,408           51,465             91,943         435,189
21       1,424,258          726,940            697,318       2,231,718
22         460,284          235,777            224,507         694,065
23       2,505,668        1,281,905          1,223,763       3,981,238
24       1,074,228          546,821            527,407       1,803,672
25       4,487,559        2,232,296          2,255,263       7,796,781
26       8,708,310        4,198,479          4,509,831      16,154,241
27       8,407,208        4,042,046          4,365,162      15,695,913
28       7,944,999        3,798,653          4,146,346      14,933,275
29       2,299,476        1,029,504          1,269,972       4,881,715
30       2,032,087          899,329          1,132,758       4,346,590
31       1,644,275          719,637            924,638       3,564,596
32         645,717          264,109            381,608       1,532,317
34            37.6             36.4               39.0            40.0
35            95.3              (X)                (X)            95.8
36            61.4              (X)                (X)            62.2
37            24.3              (X)                (X)            29.4
38            37.1              (X)                (X)            32.8
40             (X)              (X)                (X)             (X)
41             (X)              (X)                (X)             (X)

   N.Y. Males Total N.Y. Females Total P.A. Total Est. P.A. Males Total  \
0         9,628,899         10,048,252      12,972,008        6,399,830
2           543,601            511,854         668,734          340,925
3           545,792            524,241         719,322          367,379
4           598,202            563,483         761,677          390,736
5           609,954            588,791         841,351          424,350
6           649,835            649,157         829,180          420,566
7           673,807            675,561         803,919          412,239
8           714,588            698,294         873,402          444,251
9           650,743            651,396         830,928          418,082
10          619,695            614,960         792,644          405,996
11          565,740            579,088         723,451          364,695
12          624,244            636,735         818,012          409,632
13          632,967            672,708         847,170          423,991
14          642,081            675,038         923,164          447,532
15          531,023            579,609         813,798          389,007
16          417,677            503,970         654,025          307,649
17          283,305            377,512         476,780          208,981
18          173,838            262,473         294,304          123,652
19          151,807            283,382         300,147          100,167
21        1,143,994          1,087,724       1,480,999          758,115
22          355,981            338,084         472,425          241,469
23        2,043,576          1,937,662       2,622,158        1,340,509
24          903,808            899,864       1,198,106          603,447
25        3,918,622          3,878,159       4,971,424        2,525,484
26        7,819,238          8,335,003      10,660,341        5,216,873
27        7,585,323          8,110,590      10,349,850        5,059,321
28        7,203,980          7,729,295       9,801,876        4,784,438
29        2,199,731          2,681,984       3,462,218        1,576,988
30        1,938,356          2,408,234       3,103,368        1,398,679
31        1,557,650          2,006,946       2,539,054        1,129,456
32          608,950            923,367       1,071,231          432,800
34             38.6               41.2            40.9             39.8
35              (X)                (X)            97.4              (X)
36              (X)                (X)            66.1              (X)
37              (X)                (X)            32.5              (X)
38              (X)                (X)            33.6              (X)
40              (X)                (X)             (X)              (X)
41              (X)                (X)             (X)              (X)

   P.A. Females Total
0           6,572,178
2             327,809
3             351,943
4             370,941
5             417,001
6             408,614
7             391,680
8             429,151
9             412,846
10            386,648
11            358,756
12            408,380
13            423,179
14            475,632
15            424,791
16            346,376
17            267,799
18            170,652
19            199,980
21            722,884
22            230,956
23          1,281,649
24            594,659
25          2,445,940
26          5,443,468
27          5,290,529
28          5,017,438
29          1,885,230
30          1,704,689
31          1,409,598
32            638,431
34               42.3
35                (X)
36                (X)
37                (X)
38                (X)
40                (X)
41                (X)  >

In [41]:
# Remove rows

removesecondagegroups = NewColumns.iloc[:-19]

In [33]:
print(NewColumns.index)

Index([ 0,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38,
       40, 41],
      dtype='int64')

In [39]:
NewColumns.reset_index(drop=True, inplace=True)

NewColumns.index

RangeIndex(start=0, stop=38, step=1)